<div class="wrapper wrapper_padding clearfix">
	<div class="col-1 about homepage_content">
		<h2>Sobre</h2>
		<hr>
		<p>Recebi sem esperar, o maior presente que poderia um dia, vir a sonhar. Nasceu a pequena <a href="#">Sofia</a>, que veio ao mundo trazer muita alegria.</p>
		<p>As responsabilidades serão imensas, com sua criação, educação e proteção. Uma flor tão delicada, cheia de grande frescor, merece crescer num ambiente de muito amor.</p>
		<p>Como o tempo passa rápido, decidi criar este Blog para poder registrar, a vida de <a href="#">Sofia</a>, o seu nascimento, os fatos marcantes e as conquistas de cada dia.</p>	
		<p>Não deixe de clicar e acompanhar, pois todos os dias, alguma novidade irá surgir, fazendo a distância diminuir, e nosso amor por ela aumentar. </p>
	</div>
	<div class="col-2 homepage_content">
		<h2>Diário de Bordo</h2>
		<hr>
		<% @posts.each do |post| %>
			<h3><a href="#"><%= link_to post.title, post %></a></h3>
			<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
		<% end %>	
	</div>
	<div class="col-3 homepage_content">
		<h2>Galerias e Eventos</h2>
		<hr>
		<% @projects.each do |project| %>
			<h3><a href="#"><%= link_to project.title, project %></a></h3>
			<p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
		<% end %>
	</div>	
</div>